#define IDD_DLG1 100
#define IDC_IMG1 102
#define IDC_BTN1 101

IDD_DLG1 DIALOGEX 10,10,384,177
CAPTION "IDD_DLG"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER
BEGIN
  CONTROL "",IDC_IMG1,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_BITMAP,0,0,419,235
  CONTROL "OK",IDC_BTN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,291,147,74,16
END

